<?xml version="1.0" encoding="utf-8" ?>




<nlog 		  xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  internalLogLevel="Trace"
	  throwConfigExceptions="true"
	  internalLogFile="c:\Nlog-temp\nlog-internal.txt"
	  internalLogToConsole="true">
	>






	<!-- Define the connection string as a variable -->
	<variable name="AuthorDBConnection" value="server=LAPTOP-G691MIDI\\SQLEXPRESS;database=BookStoreDB;Trusted_Connection=true;Encrypt=false;" />
	<!--for dev-->
	<!--connectionString="${configsetting:item=ConnectionStrings.AuthorDBConnection}"-->
	<!--for deploy-->
	<!--connectionString= "workstation id=BookStoreDBs.mssql.somee.com;packet size=4096;user id=Abdul-HaiM_SQLLogin_1;pwd=fnztzz2f7i;data source=BookStoreDBs.mssql.somee.com;persist security info=False;initial catalog=BookStoreDBs;Encrypt=false;"-->

	<!-- the targets to write to -->
	<targets>


		<!-- write logs to file  -->
		<!--//nlog can log to one file and we configured it by c#-->
		<!--<target name="anyname" xsi:type="File" fileName="c:\DemoLogs\nlog-all-${shortdate}.log"/>-->

		<!-- write logs to db  -->
		<!-- connectionString value taken from secretjson from the string called AuthorDBConnection   -->
		<target
			name="TargetDatabase"
			xsi:type="Database"
			connectionString="${configsetting:item=ConnectionStrings.AuthorDBConnection}"
 			commandText="INSERT INTO [NlogDBLog] 
			(Application, Logged, logger,Level, Message, CallSite, Exception,stackTrace,requestUrl,requestType)
			VALUES  
			( @Application, @Logged,@Logger, @Level, @Message, @Callsite, @exception,@stackTrace,@requestUrl,@requestType)" >

			<parameter name="@application" layout="AspNetCoreNlog" />
			<parameter name="@logged" layout="${date}" />
			<parameter name="@logger" layout="${logger}" />
			<parameter name="@level" layout="${level}" />
			<parameter name="@message" layout="${message}" />
			<parameter name="@callSite" layout="${callsite:filename=true}" />
			<parameter name="@stackTrace" layout="${stacktrace}" />
			<parameter name="@exception" layout="${exception:tostring}" />
			<parameter name="@requestUrl" layout="${aspnet-request-url}" />
			<parameter name="@requestType" layout="${aspnet-request-method}" />
		</target>

	</targets>


	<!-- rules to map from logger name to target -->
	<rules>

		<!--overide the minlevel in appseting by the key Nlog -->
		<!--<logger name="*" minlevel="Trace" writeTo="anyname" />-->

		<logger name="*" minlevel="Warn" writeTo="TargetDatabase" />

	</rules>

</nlog>
