.m-all-0 {
  margin-block-start: 0rem !important;
  margin-block-end: 0rem !important;
  margin-inline-start: 0rem !important;
  margin-inline-end: 0rem !important;
}

.m-all-1 {
  margin-block-start: 0.25rem !important;
  margin-block-end: 0.25rem !important;
  margin-inline-start: 0.25rem !important;
  margin-inline-end: 0.25rem !important;
}

.m-all-2 {
  margin-block-start: 0.5rem !important;
  margin-block-end: 0.5rem !important;
  margin-inline-start: 0.5rem !important;
  margin-inline-end: 0.5rem !important;
}

.m-all-3 {
  margin-block-start: 1rem !important;
  margin-block-end: 1rem !important;
  margin-inline-start: 1rem !important;
  margin-inline-end: 1rem !important;
}

.m-all-4 {
  margin-block-start: calc(1.275rem + 0.3vw) !important;
  margin-block-end: calc(1.275rem + 0.3vw) !important;
  margin-inline-start: calc(1.275rem + 0.3vw) !important;
  margin-inline-end: calc(1.275rem + 0.3vw) !important;
}
@media (min-width: 1200px) {
  .m-all-4 {
    margin-block-start: 1.5rem !important;
  }
}
@media (min-width: 1200px) {
  .m-all-4 {
    margin-block-end: 1.5rem !important;
  }
}
@media (min-width: 1200px) {
  .m-all-4 {
    margin-inline-start: 1.5rem !important;
  }
}
@media (min-width: 1200px) {
  .m-all-4 {
    margin-inline-end: 1.5rem !important;
  }
}

.m-all-5 {
  margin-block-start: calc(1.425rem + 2.1vw) !important;
  margin-block-end: calc(1.425rem + 2.1vw) !important;
  margin-inline-start: calc(1.425rem + 2.1vw) !important;
  margin-inline-end: calc(1.425rem + 2.1vw) !important;
}
@media (min-width: 1200px) {
  .m-all-5 {
    margin-block-start: 3rem !important;
  }
}
@media (min-width: 1200px) {
  .m-all-5 {
    margin-block-end: 3rem !important;
  }
}
@media (min-width: 1200px) {
  .m-all-5 {
    margin-inline-start: 3rem !important;
  }
}
@media (min-width: 1200px) {
  .m-all-5 {
    margin-inline-end: 3rem !important;
  }
}

.m-all-auto {
  margin: auto;
}

.m-inline-0 {
  margin-inline-start: 0rem !important;
  margin-inline-end: 0rem !important;
}

.m-inline-1 {
  margin-inline-start: 0.25rem !important;
  margin-inline-end: 0.25rem !important;
}

.m-inline-2 {
  margin-inline-start: 0.5rem !important;
  margin-inline-end: 0.5rem !important;
}

.m-inline-3 {
  margin-inline-start: 1rem !important;
  margin-inline-end: 1rem !important;
}

.m-inline-4 {
  margin-inline-start: calc(1.275rem + 0.3vw) !important;
  margin-inline-end: calc(1.275rem + 0.3vw) !important;
}
@media (min-width: 1200px) {
  .m-inline-4 {
    margin-inline-start: 1.5rem !important;
  }
}
@media (min-width: 1200px) {
  .m-inline-4 {
    margin-inline-end: 1.5rem !important;
  }
}

.m-inline-5 {
  margin-inline-start: calc(1.425rem + 2.1vw) !important;
  margin-inline-end: calc(1.425rem + 2.1vw) !important;
}
@media (min-width: 1200px) {
  .m-inline-5 {
    margin-inline-start: 3rem !important;
  }
}
@media (min-width: 1200px) {
  .m-inline-5 {
    margin-inline-end: 3rem !important;
  }
}

.m-inline-auto {
  margin-inline: auto;
}

.m-block-0 {
  margin-block-start: 0rem !important;
  margin-block-end: 0rem !important;
}

.m-block-1 {
  margin-block-start: 0.25rem !important;
  margin-block-end: 0.25rem !important;
}

.m-block-2 {
  margin-block-start: 0.5rem !important;
  margin-block-end: 0.5rem !important;
}

.m-block-3 {
  margin-block-start: 1rem !important;
  margin-block-end: 1rem !important;
}

.m-block-4 {
  margin-block-start: calc(1.275rem + 0.3vw) !important;
  margin-block-end: calc(1.275rem + 0.3vw) !important;
}
@media (min-width: 1200px) {
  .m-block-4 {
    margin-block-start: 1.5rem !important;
  }
}
@media (min-width: 1200px) {
  .m-block-4 {
    margin-block-end: 1.5rem !important;
  }
}

.m-block-5 {
  margin-block-start: calc(1.425rem + 2.1vw) !important;
  margin-block-end: calc(1.425rem + 2.1vw) !important;
}
@media (min-width: 1200px) {
  .m-block-5 {
    margin-block-start: 3rem !important;
  }
}
@media (min-width: 1200px) {
  .m-block-5 {
    margin-block-end: 3rem !important;
  }
}

.m-block-auto {
  margin-block: auto;
}

.m-b-s-0 {
  margin-block-start: 0rem !important;
}

.m-b-s-1 {
  margin-block-start: 0.25rem !important;
}

.m-b-s-2 {
  margin-block-start: 0.5rem !important;
}

.m-b-s-3 {
  margin-block-start: 1rem !important;
}

.m-b-s-4 {
  margin-block-start: calc(1.275rem + 0.3vw) !important;
}
@media (min-width: 1200px) {
  .m-b-s-4 {
    margin-block-start: 1.5rem !important;
  }
}

.m-b-s-5 {
  margin-block-start: calc(1.425rem + 2.1vw) !important;
}
@media (min-width: 1200px) {
  .m-b-s-5 {
    margin-block-start: 3rem !important;
  }
}

.m-b-s-auto {
  margin-block-start: auto;
}

.m-b-e-0 {
  margin-block-end: 0rem !important;
}

.m-b-e-1 {
  margin-block-end: 0.25rem !important;
}

.m-b-e-2 {
  margin-block-end: 0.5rem !important;
}

.m-b-e-3 {
  margin-block-end: 1rem !important;
}

.m-b-e-4 {
  margin-block-end: calc(1.275rem + 0.3vw) !important;
}
@media (min-width: 1200px) {
  .m-b-e-4 {
    margin-block-end: 1.5rem !important;
  }
}

.m-b-e-5 {
  margin-block-end: calc(1.425rem + 2.1vw) !important;
}
@media (min-width: 1200px) {
  .m-b-e-5 {
    margin-block-end: 3rem !important;
  }
}

.m-b-e-auto {
  margin-block-end: auto;
}

.m-i-s-0 {
  margin-inline-start: 0rem !important;
}

.m-i-s-1 {
  margin-inline-start: 0.25rem !important;
}

.m-i-s-2 {
  margin-inline-start: 0.5rem !important;
}

.m-i-s-3 {
  margin-inline-start: 1rem !important;
}

.m-i-s-4 {
  margin-inline-start: calc(1.275rem + 0.3vw) !important;
}
@media (min-width: 1200px) {
  .m-i-s-4 {
    margin-inline-start: 1.5rem !important;
  }
}

.m-i-s-5 {
  margin-inline-start: calc(1.425rem + 2.1vw) !important;
}
@media (min-width: 1200px) {
  .m-i-s-5 {
    margin-inline-start: 3rem !important;
  }
}

.m-i-s-auto {
  margin-inline-start: auto;
}

.m-i-e-0 {
  margin-inline-end: 0rem !important;
}

.m-i-e-1 {
  margin-inline-end: 0.25rem !important;
}

.m-i-e-2 {
  margin-inline-end: 0.5rem !important;
}

.m-i-e-3 {
  margin-inline-end: 1rem !important;
}

.m-i-e-4 {
  margin-inline-end: calc(1.275rem + 0.3vw) !important;
}
@media (min-width: 1200px) {
  .m-i-e-4 {
    margin-inline-end: 1.5rem !important;
  }
}

.m-i-e-5 {
  margin-inline-end: calc(1.425rem + 2.1vw) !important;
}
@media (min-width: 1200px) {
  .m-i-e-5 {
    margin-inline-end: 3rem !important;
  }
}

.m-i-e-auto {
  margin-inline-end: auto;
}

.p-all-0 {
  padding-block-start: 0rem !important;
  padding-block-end: 0rem !important;
  padding-inline-start: 0rem !important;
  padding-inline-end: 0rem !important;
}

.p-all-1 {
  padding-block-start: 0.25rem !important;
  padding-block-end: 0.25rem !important;
  padding-inline-start: 0.25rem !important;
  padding-inline-end: 0.25rem !important;
}

.p-all-2 {
  padding-block-start: 0.5rem !important;
  padding-block-end: 0.5rem !important;
  padding-inline-start: 0.5rem !important;
  padding-inline-end: 0.5rem !important;
}

.p-all-3 {
  padding-block-start: 1rem !important;
  padding-block-end: 1rem !important;
  padding-inline-start: 1rem !important;
  padding-inline-end: 1rem !important;
}

.p-all-4 {
  padding-block-start: calc(1.275rem + 0.3vw) !important;
  padding-block-end: calc(1.275rem + 0.3vw) !important;
  padding-inline-start: calc(1.275rem + 0.3vw) !important;
  padding-inline-end: calc(1.275rem + 0.3vw) !important;
}
@media (min-width: 1200px) {
  .p-all-4 {
    padding-block-start: 1.5rem !important;
  }
}
@media (min-width: 1200px) {
  .p-all-4 {
    padding-block-end: 1.5rem !important;
  }
}
@media (min-width: 1200px) {
  .p-all-4 {
    padding-inline-start: 1.5rem !important;
  }
}
@media (min-width: 1200px) {
  .p-all-4 {
    padding-inline-end: 1.5rem !important;
  }
}

.p-all-5 {
  padding-block-start: calc(1.425rem + 2.1vw) !important;
  padding-block-end: calc(1.425rem + 2.1vw) !important;
  padding-inline-start: calc(1.425rem + 2.1vw) !important;
  padding-inline-end: calc(1.425rem + 2.1vw) !important;
}
@media (min-width: 1200px) {
  .p-all-5 {
    padding-block-start: 3rem !important;
  }
}
@media (min-width: 1200px) {
  .p-all-5 {
    padding-block-end: 3rem !important;
  }
}
@media (min-width: 1200px) {
  .p-all-5 {
    padding-inline-start: 3rem !important;
  }
}
@media (min-width: 1200px) {
  .p-all-5 {
    padding-inline-end: 3rem !important;
  }
}

.p-all-auto {
  padding: auto;
}

.p-inline-0 {
  padding-inline-start: 0rem !important;
  padding-inline-end: 0rem !important;
}

.p-inline-1 {
  padding-inline-start: 0.25rem !important;
  padding-inline-end: 0.25rem !important;
}

.p-inline-2 {
  padding-inline-start: 0.5rem !important;
  padding-inline-end: 0.5rem !important;
}

.p-inline-3 {
  padding-inline-start: 1rem !important;
  padding-inline-end: 1rem !important;
}

.p-inline-4 {
  padding-inline-start: calc(1.275rem + 0.3vw) !important;
  padding-inline-end: calc(1.275rem + 0.3vw) !important;
}
@media (min-width: 1200px) {
  .p-inline-4 {
    padding-inline-start: 1.5rem !important;
  }
}
@media (min-width: 1200px) {
  .p-inline-4 {
    padding-inline-end: 1.5rem !important;
  }
}

.p-inline-5 {
  padding-inline-start: calc(1.425rem + 2.1vw) !important;
  padding-inline-end: calc(1.425rem + 2.1vw) !important;
}
@media (min-width: 1200px) {
  .p-inline-5 {
    padding-inline-start: 3rem !important;
  }
}
@media (min-width: 1200px) {
  .p-inline-5 {
    padding-inline-end: 3rem !important;
  }
}

.p-inline-auto {
  padding-inline: auto;
}

.p-block-0 {
  padding-block-start: 0rem !important;
  padding-block-end: 0rem !important;
}

.p-block-1 {
  padding-block-start: 0.25rem !important;
  padding-block-end: 0.25rem !important;
}

.p-block-2 {
  padding-block-start: 0.5rem !important;
  padding-block-end: 0.5rem !important;
}

.p-block-3 {
  padding-block-start: 1rem !important;
  padding-block-end: 1rem !important;
}

.p-block-4 {
  padding-block-start: calc(1.275rem + 0.3vw) !important;
  padding-block-end: calc(1.275rem + 0.3vw) !important;
}
@media (min-width: 1200px) {
  .p-block-4 {
    padding-block-start: 1.5rem !important;
  }
}
@media (min-width: 1200px) {
  .p-block-4 {
    padding-block-end: 1.5rem !important;
  }
}

.p-block-5 {
  padding-block-start: calc(1.425rem + 2.1vw) !important;
  padding-block-end: calc(1.425rem + 2.1vw) !important;
}
@media (min-width: 1200px) {
  .p-block-5 {
    padding-block-start: 3rem !important;
  }
}
@media (min-width: 1200px) {
  .p-block-5 {
    padding-block-end: 3rem !important;
  }
}

.p-block-auto {
  padding-block: auto;
}

.p-b-s-0 {
  padding-block-start: 0rem !important;
}

.p-b-s-1 {
  padding-block-start: 0.25rem !important;
}

.p-b-s-2 {
  padding-block-start: 0.5rem !important;
}

.p-b-s-3 {
  padding-block-start: 1rem !important;
}

.p-b-s-4 {
  padding-block-start: calc(1.275rem + 0.3vw) !important;
}
@media (min-width: 1200px) {
  .p-b-s-4 {
    padding-block-start: 1.5rem !important;
  }
}

.p-b-s-5 {
  padding-block-start: calc(1.425rem + 2.1vw) !important;
}
@media (min-width: 1200px) {
  .p-b-s-5 {
    padding-block-start: 3rem !important;
  }
}

.p-b-s-auto {
  padding-block-start: auto;
}

.p-b-e-0 {
  padding-block-end: 0rem !important;
}

.p-b-e-1 {
  padding-block-end: 0.25rem !important;
}

.p-b-e-2 {
  padding-block-end: 0.5rem !important;
}

.p-b-e-3 {
  padding-block-end: 1rem !important;
}

.p-b-e-4 {
  padding-block-end: calc(1.275rem + 0.3vw) !important;
}
@media (min-width: 1200px) {
  .p-b-e-4 {
    padding-block-end: 1.5rem !important;
  }
}

.p-b-e-5 {
  padding-block-end: calc(1.425rem + 2.1vw) !important;
}
@media (min-width: 1200px) {
  .p-b-e-5 {
    padding-block-end: 3rem !important;
  }
}

.p-b-e-auto {
  padding-block-end: auto;
}

.p-i-s-0 {
  padding-inline-start: 0rem !important;
}

.p-i-s-1 {
  padding-inline-start: 0.25rem !important;
}

.p-i-s-2 {
  padding-inline-start: 0.5rem !important;
}

.p-i-s-3 {
  padding-inline-start: 1rem !important;
}

.p-i-s-4 {
  padding-inline-start: calc(1.275rem + 0.3vw) !important;
}
@media (min-width: 1200px) {
  .p-i-s-4 {
    padding-inline-start: 1.5rem !important;
  }
}

.p-i-s-5 {
  padding-inline-start: calc(1.425rem + 2.1vw) !important;
}
@media (min-width: 1200px) {
  .p-i-s-5 {
    padding-inline-start: 3rem !important;
  }
}

.p-i-s-auto {
  padding-inline-start: auto;
}

.p-i-e-0 {
  padding-inline-end: 0rem !important;
}

.p-i-e-1 {
  padding-inline-end: 0.25rem !important;
}

.p-i-e-2 {
  padding-inline-end: 0.5rem !important;
}

.p-i-e-3 {
  padding-inline-end: 1rem !important;
}

.p-i-e-4 {
  padding-inline-end: calc(1.275rem + 0.3vw) !important;
}
@media (min-width: 1200px) {
  .p-i-e-4 {
    padding-inline-end: 1.5rem !important;
  }
}

.p-i-e-5 {
  padding-inline-end: calc(1.425rem + 2.1vw) !important;
}
@media (min-width: 1200px) {
  .p-i-e-5 {
    padding-inline-end: 3rem !important;
  }
}

.p-i-e-auto {
  padding-inline-end: auto;
}
