@using Books_Store.Models.UserModels;
@model ResetPasswordModel
@{
    ViewBag.Title = "Reset Password";
}

<div class="row justify-content-center ">



    @*<h4 class="text-center">
        Note that the valdiation here done by clients side(not waiting for server side response after submit a request)<br>
        togther with serverside validation methods [validation attribute + validation tag helepers]
    </h4>
*@

    <form method="post" enctype="multipart/form-data" asp-controller="Account" asp-action="ResetPassword"
          class="  row col-lg-5  col-8 p-5  px-md-0    justify-content-center  ">




        <div class="col-12 text-center mb-5 ">
            <h4>Kindly Insert your Email and new password here</h4>
        </div>
        <div class="col-12">
            @*We are using 2 hidden input fields to store email address and password 
            reset token as we need them on postback.*@
            <input asp-for="Email" type="hidden" />
            <input asp-for="Token" type="hidden" />


            <div class="row mb-3  justify-content-evenly">
                <label class="col-md-3  col-sm-12 col-form-label mb-2 mb-md-0" asp-for="Email"></label>
                <div class="col-md-7 col-sm-12 ">
                    <input class="  form-control" asp-for=Email placeholder="Email" />
                    <span class="validate-color" asp-validation-for="Email"></span>
                </div>
            </div>

            <div class="row mb-3  justify-content-evenly">
                <label class="col-md-3  col-sm-12 col-form-label mb-2 mb-md-0" asp-for="NewPassword"></label>
                <div class="col-md-7 col-sm-12  ">
                    <input class="  form-control" asp-for=NewPassword placeholder="Password" />
                    <span class="validate-color" asp-validation-for="NewPassword"></span>
                </div>
            </div>
            <div class="row mb-3  justify-content-evenly">
                <label class="col-md-3  col-sm-12 col-form-label mb-2 mb-md-0" asp-for="ConfirmNewPassword"></label>
                <div class="col-md-7 col-sm-12  ">
                    <input class="  form-control" asp-for=ConfirmNewPassword placeholder="Confirm Password" />
                    <span class="validate-color" asp-validation-for="ConfirmNewPassword"></span>
                </div>
            </div>



            <div asp-validation-summary="All" class="validate-color"></div>
            <div class="row mb-3  justify-content-evenly">
                <div class=" col-md-3  col-sm-12 col-form-label mb-2 mb-md-0"></div>
                <div class="col-md-7 col-sm-12">
                    <button type="submit" class="btn btn-primary">Reset</button>

                </div>
            </div>

        </div>

    </form>
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

</div>
